ol.questions {
	list-style-type: decimal;
}

ol.questions ol {
	list-style-type: lower-alpha;
}

ol.questions ol ol {
	list-style-type: lower-roman;
}

.answer {
	font-weight: bold;
	border: 1px solid black;
	padding: 0.4ex 0.4em;
}

dt {
	font-weight: bold;
	margin: 1ex 0em 0ex 0em;
	padding: 0ex 0em;
}

dd {
	margin: 0ex 0em;
	padding: 0ex 0em;
}
